#BlogPage
{
    padding: auto;
    align-content: center;
    backdrop-filter: blur(5px);
    border-style: outset;
    box-shadow: 0em;
    background-color: bisque;
    display: block;
    text-align: center;

}

#topnav
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: normal;
    align-content: center;
    display: grid;
    


}
contentx
{

}